/* flex */
body {
  background-color: dimgray;

}
.container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: lightgray;

}

fieldset {
  height: 75px;
  width: 250px;
  display: flex;
  align-content: space-between;
  background-color: lightpink;
  justify-content: stretch;

}

textarea {
  resize: none;
}
